@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Poppins:wght@300&display=swap');

body {
	/*
	 * This is a decent typography pair, but using system fonts
	 * will boost performance a non-trivial amount.
	*/
	font-family: 'Poppins', -apple-system, sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Archivo', Ubuntu, sans-serif;
}